.container{
    display: grid;
    grid-template-rows: 1fr 3fr 3fr 3fr 1fr;
    grid-auto-columns: 1fr 1fr 1fr 1fr 1fr;
}

.item-1 {
    background: #62ad63;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2),
                0 0 20px rgba(0, 0, 0, 0.2),
                0 0 30px rgba(0, 0, 0, 0.2);
    grid-row: 1/2;
    grid-column: 1/5;
}

.item-2 {
    background: #62ad63;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2),
                0 0 20px rgba(0, 0, 0, 0.2),
                0 0 30px rgba(0, 0, 0, 0.2);
    grid-row: 2/4;
    grid-column: 1/5;
}

.item-3 {
    background: #62ad63;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2),
                0 0 20px rgba(0, 0, 0, 0.2),
                0 0 30px rgba(0, 0, 0, 0.2);
    grid-row: 4/5;
    grid-column: 3/5;
}

.item-4 {
    background: #62ad63;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2),
                0 0 20px rgba(0, 0, 0, 0.2),
                0 0 30px rgba(0, 0, 0, 0.2);
    grid-row: 4/5;
    grid-column: 1/3;
}

body {
    justify-content: center;
    align-items: center;
    width: 1000px;
    background-color: #4CAF50; /* Fallback color */

    /* Gradient syntax */
    background-image: linear-gradient(to right, #4CAF50, #008CBA);
    margin: 10px auto auto;
}

table {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2),
                0 0 20px rgba(0, 0, 0, 0.2),
                0 0 30px rgba(0, 0, 0, 0.2);
    background: #62ad63;
    border-collapse: collapse;
    width: 100%;
    justify-content: center;
    margin: auto;
}

th, td {
    border: 1px solid;
    text-align: left;
    padding: 8px;
}

.form-container {
    border: solid 1px;
    width: 300px;
    padding-top: 15px;
    margin: 15px auto auto;
    border-radius: 6px;
}

#subForm {
    width: 280px;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 15px;
}

.form-labels {
    padding: 8px;
}

.method-input, .ingredient-input {
    width: 50%;
    margin-top: 5px;
}

td ol{
    list-style-type: decimal;
    padding-left: 20px;
}

.directions {
    border: solid black 1px;
    border-radius: 6px;
    margin-left: 20px;
    padding: 15px;
    h1{
        font-weight: bold;
        font-size: large;
    }
}

.directions-ul {
    padding-left: 10px;
    margin: 10px;
}

.directions-ul li {
    padding: 8px;
}