<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{css/reset.css}" />
    <link rel="stylesheet" th:href="@{css/styles.css}" />
    <script th:src="@{js/data.js}"></script>
</head>
<body class="container">
    <div class="item-1">
        <h1>Welcome to My Recipe List!</h1>
    </div>

    <div class="item-2">
        <table class="item">
            <thead>
            <tr>
                <th>Name:</th>
                <th>Ingredients:</th>
                <th>Method:</th>
                <th>Edit:</th>
                <th>Delete:</th>
            </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
        </table>
    </div>


    <div class="form-container item item-3">
        <form id="subForm">

            <h3>Enter New Recipe Here:</h3>
            <div class="form-labels">
                <label for="name">Name</label>
                <input id="name" type="text" required>
            </div>

            <div class="form-labels">
                <label for="url">URL</label>
                <input id="url" type="text">
            </div>

            <div class="form-labels">
                <label for="author">Author</label>
                <input id="author" type="text">
            </div>

            <div id="ingredientsInputs" class="form-labels">
                <label for="ingredients">Ingredients</label>
                <br>
                <input id="ingredients" type="text" name="ingredients[]" class="ingredient-input" required>
            </div>
            <button id="addIngredient" type="button">Add Ingredient</button>

            <div id="methodInputs" class="form-labels">
                <label for="method">Steps</label>
                <br>
                <input id="method" type="text" name="method[]" class="method-input" required>
            </div>
            <button id="addMethod" type="button">Add Step</button>
            <br>
            <br>
            <button id="submit" type="submit">Add Recipe</button>
        </form>
    </div>

    <div class="item item-4 directions">
        <h1>Recipe List</h1>
        <ul class="directions-ul">
            <li>Enter the name of the recipe*</li>
            <li>Enter a URL linking to a related resource</li>
            <li>Enter the creator/author of the recipe</li>
            <li>Enter Ingredients required for the recipe*</li>
            <li>Enter the step-by-step process for the recipe*</li>
        </ul>
        <p>* items are required</p>
    </div>

</body>
</html>