<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{css/styles.css}" />
    <script th:src="@{js/data.js}"></script>
</head>
<body>
<h1>Recipe List</h1>
    <table>
        <thead>
            <tr>
                <th>Name:</th>
                <th>ingredients:</th>
                <th>Method:</th>
                <th>Edit:</th>
                <th>Delete:</th>
            </tr>
        </thead>
        <tbody id="tbody">
        </tbody>
    </table>

    <form id="subForm">
        <label for="name">name</label>
        <input id="name" type="text">

        <label for="url">URL</label>
        <input id="url" type="text">

        <label for="author">Author</label>
        <input id="author" type="text">

        <div id="ingredientsContainer">
            <label for="ingredients">Ingredients</label>
            <div id="ingredientsInputs">

                <input id="ingredients" type="text" name="ingredients[]" class="ingredient-input">
            </div>
            <button id="addIngredient" type="button">Add Ingredient</button>
        </div>

        <div id="methodContainer">
            <label for="method">Steps</label>
            <div id="methodInputs">
                <input id="method" type="text" name="method[]" class="method-input">
            </div>
            <button id="addMethod" type="button">Add Method Step</button>
        </div>

        <button id="submit" type="submit">Add Recipe</button>
    </form>
</body>
</html>